profiles {
    colossus {
        process.executor = 'sge'
        process.queue = 'biotec.q'
        process.memory = '8G'
        process {
            withName: VCFgz {
                clusterOptions = '-S /bin/bash -pe orte 8'
            }

            withName: Bgzip {
                clusterOptions = '-S /bin/bash -pe orte 8'
            }

            withName: splitChromosome {
                clusterOptions = '-S /bin/bash -pe orte 8'
            }

            withName:decomposeNormalizeAnnotate {
                clusterOptions = '-S /bin/bash -pe orte 8'
                maxForks = 10
            }

            withName:geminiLoad {
                clusterOptions = '-S /bin/bash -pe orte 32'
                maxForks = 2
            }
        }
    }
}

env {
     SNPEFF_JAR="/share/apps/snpEff_4.3t/snpEff.jar"
     PATH="$PATH:/colossus/home/krittin/opt/bin:/share/apps/bin:/colossus/home/krittin/anaconda/bin/"
}
