manifest {
    mainScript = 'gwas-qc.nf'
}


process {
    withName:decomposeNormalize {
        container = 'sinonkt/docker-vt:latest'
    }
    withName:annotation {
        container = 'sinonkt/docker-snpeff:latest'
    }
    withName:geminiLoad {
        container = 'sinonkt/docker-gemini:latest'
    }
}

profiles {
  standard {
      process.executor = 'local'
  }
}

singularity {
    enabled = true
}
